/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: critical-role-play;
  src: url(assets/font/CriticalRolePlay-7BByA.ttf) format("truetype");
}

:root,
body {
  background-color: #ede7d9;
}

p {
  color: #000000;
}

a {
  color: #c9962f;
}

a:hover {
  color: #8b9556;
  text-decoration: none;
}

nav {
  margin-left: 25px;
}

.title {
  font-family: critical-role-play;
  font-size: xx-large;
}

code {
  color: #ff811e;
}

.btn-primary {
  color: #000000;
  text-align: center;
  background-color: #a0ca92;
  border-color: #8ebd7f;
  margin-top: 20px;
}

.btn-primary:hover {
  color: #000000;
  text-align: center;
  background-color: #d0e5c9;
  border-color: #8ebd7f;
}

#toolbar {
  background-color: #FDFCFA;
}
