<div class="basicFlex">
    <mat-card>
        <mat-card-content>
            <form (ngSubmit)="onSubmit()">
                <h3>Sign in with your Javabog user</h3>
                <mat-form-field class="inputWidth">
                    <input
                        matInput
                        type="text"
                        [formControl]="usernameControl"
                        placeholder="Username"
                        required
                    />
                    <mat-error *ngIf="!usernameControl.hasError('required')">
                    </mat-error>
                    <mat-error *ngIf="usernameControl.hasError('required')">
                        Please enter your username!
                    </mat-error>
                </mat-form-field>
                <mat-form-field class="inputWidth">
                    <input
                        matInput
                        [type]="hide ? 'password' : 'text'"
                        placeholder="Password"
                        [formControl]="passwordControl"
                        required
                    />
                    <button
                        type="button"
                        mat-icon-button
                        matSuffix
                        (click)="hide = !hide"
                        [attr.aria-label]="'Hide password'"
                        [attr.aria-pressed]="hide"
                    >
                        <mat-icon>{{
                            hide ? 'visibility_off' : 'visibility'
                        }}</mat-icon>
                    </button>
                    <mat-error *ngIf="!passwordControl.hasError('required')">
                    </mat-error>
                    <mat-error *ngIf="passwordControl.hasError('required')">
                        Please enter your password!
                    </mat-error>
                </mat-form-field>
                <button
                    color="primary"
                    type="submit"
                    mat-raised-button
                    class="btn-primary"
                >
                    Sign In
                </button>
            </form>
        </mat-card-content>
    </mat-card>
</div>
