<div class="basicFlex">
    <mat-card>
        <mat-card-content>
            <form (ngSubmit)="onSubmit()">
                <h3>Login with your Javabog user</h3>
                <mat-form-field class="inputWidth">
                    <input
                        matInput
                        type="text"
                        [formControl]="usernameControl"
                        placeholder="Username"
                        required
                    />
                    <mat-error *ngIf="!usernameControl.hasError('required')">
                    </mat-error>
                    <mat-error *ngIf="usernameControl.hasError('required')">
                        Please enter your username!
                    </mat-error>
                </mat-form-field>
                <mat-form-field class="inputWidth">
                    <input
                        matInput
                        type="password"
                        placeholder="Password"
                        [formControl]="passwordControl"
                        required
                    />
                    <mat-error *ngIf="!passwordControl.hasError('required')">
                    </mat-error>
                    <mat-error *ngIf="passwordControl.hasError('required')">
                        Please enter your password!
                    </mat-error>
                </mat-form-field>
                <button mat-raised-button color="primary">
                    Sign In
                </button>
            </form>
        </mat-card-content>
    </mat-card>
</div>
