//Custom colours:

$dnd-alabaster: (50 : #fdfcfa,
  100 : #faf8f4,
  200 : #f6f3ec,
  300 : #f2eee4,
  400 : #f0ebdf,
  500 : #ede7d9,
  600 : #ebe4d5,
  700 : #e8e0cf,
  800 : #e5ddca,
  900 : #e0d7c0,
  A100 : #ffffff,
  A200 : #ffffff,
  A400 : #ffffff,
  A700 : #ffffff,
  contrast: (50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #000000,
    800 : #000000,
    900 : #000000,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  ));

$dnd-umber: (50 : #edebe9,
  100 : #d3cec8,
  200 : #b6ada4,
  300 : #988c80,
  400 : #827364,
  500 : #6c5a49,
  600 : #645242,
  700 : #594839,
  800 : #4f3f31,
  900 : #3d2e21,
  A100 : #ffba84,
  A200 : #ff9d51,
  A400 : #ff811e,
  A700 : #ff7304,
  contrast: (50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  ));

$dnd-satinsheengold: (50 : #f9f2e6,
  100 : #efe0c1,
  200 : #e4cb97,
  300 : #d9b66d,
  400 : #d1a64e,
  500 : #c9962f,
  600 : #c38e2a,
  700 : #bc8323,
  800 : #b5791d,
  900 : #a96812,
  A100 : #ffeeda,
  A200 : #ffd6a7,
  A400 : #ffbe74,
  A700 : #ffb25a,
  contrast: (50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #000000,
    800 : #000000,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  ));

$dnd-mossgreen: (50 : #f1f2eb,
  100 : #dcdfcc,
  200 : #c5caab,
  300 : #aeb589,
  400 : #9ca56f,
  500 : #8b9556,
  600 : #838d4f,
  700 : #788245,
  800 : #6e783c,
  900 : #5b672b,
  A100 : #eeffaf,
  A200 : #e4ff7c,
  A400 : #d9ff49,
  A700 : #d4ff30,
  contrast: (50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  ));

$dnd-darkseagreen: (50 : #f4f9f2,
  100 : #e3efde,
  200 : #d0e5c9,
  300 : #bddab3,
  400 : #aed2a2,
  500 : #a0ca92,
  600 : #98c58a,
  700 : #8ebd7f,
  800 : #84b775,
  900 : #73ab63,
  A100 : #ffffff,
  A200 : #edffe8,
  A400 : #c5ffb5,
  A700 : #b2ff9c,
  contrast: (50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #000000,
    800 : #000000,
    900 : #000000,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  ));
