<div class="row">
    <form (ngSubmit)="onSubmit()">
        <div class="row">
            <label for="name">Campaign Name</label>
            <input type="text" id="name" [formControl]="campaignName" />
        </div>
        <div class="row">
            <label for="Joinable">Joinable</label>
            <input type="text" id="Joinable" [formControl]="joinable" />
        </div>
        <div class="row">
            <label for="maxPlayer">Max players</label>
            <input type="number" id="maxPlayer" [formControl]="maxPlayers" />
        </div>
        <div class="row">
            <label for="Password">Password</label>
            <input type="text" id="Password" [formControl]="password" />
        </div>
        <button type="submit" class="btn btn-success">Save</button>
    </form>
</div>
