<h1>Welcome to My Campaigns</h1>
<div class="row">
    <div class="col-lg-3">
        <h2>Campaigns you are playing in:</h2>
        <mat-card *ngFor="let campaign of myCampaigns">
            <mat-card-header>
                <mat-card-title> {{ campaign.name }}</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <p>Participants:</p>
                <mat-card-subtitle>
                    <p>players:</p>
                </mat-card-subtitle>
                <p>You are playing with:</p>
                <mat-card-subtitle>
                    <p>characterName</p>
                </mat-card-subtitle>
            </mat-card-content>
        </mat-card>
    </div>

    <div class="col-lg-3"></div>
    <div class="vl"></div>

    <div class="col-lg-3">
        <h2>Campaigns where you are the DM:</h2>
        <mat-card *ngFor="let dmCampaign of myDmCampaigns">
            <mat-card-header>
                <mat-card-title> {{ dmCampaign.name }}</mat-card-title>
                <mat-card-subtitle>
                    {{ dmCampaign.password }}
                </mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <p>Participants:</p>
                <mat-card-subtitle>
                    <p>dmCampaign.players</p>
                </mat-card-subtitle>
                <p>Max players: {{ dmCampaign.maxPlayers }}</p>
            </mat-card-content>
        </mat-card>
        <br />
        <div class="row">
            <div class="col-xs-12">
                <button class="btn-primary" (click)="onCreateNewCampaign()">
                    New Campaign
                </button>
            </div>
        </div>
    </div>
</div>
