<div class="flexContainer">
    <mat-card>
        <div class="flexItem">
            <h3>Your last played campaign</h3>
        </div>
    </mat-card>
    <mat-card class="customMatCard">
        <div class="flexItem">
            <h3>Join new campaign</h3>
            <p>Join a campaign by entering an ID and password below</p>
            <button mat-raised-button (click)="openDialog()">
                Join campaign!
            </button>
        </div>
    </mat-card>
    <mat-card>
        <div class="flexItem">
            <h3>Joinable campaigns</h3>
        </div>
    </mat-card>
</div>
