<div>
    <h1>Dashboard</h1>
    <div class="flexContainer">
        <div class="flexColoumn">
            <mat-card>
                <h3>Info!</h3>
                <p>
                    Welcome to this DND Site. Its purpose is to help you and
                    your friends keep track of your DnD game. Here, you can
                    create campaigns and characters and view and edit their
                    stats. You can even roll a cool D20 type dice
                </p>
                <p>
                    To view all your characters and to create new ones, go to My
                    Characters
                </p>
                <p>
                    To view all your campaigns and to create a new one (and be
                    the Dungeon Master), go to My Campaigns
                </p>
                <p>
                    Once you have created a character, join a campaign to your
                    right!
                </p>
                <p>Click "PLAY" from My Campaigns!</p>
            </mat-card>
        </div>
        <div class="flexColoumn">
            <mat-card>
                <h3>Join new campaign</h3>
                <p>
                    Join a campaign by entering an ID and password below and
                    choose a character.
                </p>
                <button mat-raised-button (click)="openDialog()">
                    Join campaign!
                </button>
            </mat-card>
        </div>
        <div class="flexColoumn">
            <mat-card>
                <h3>Joinable campaigns</h3>
                <mat-card *ngFor="let c of joinableCampaigns">
                    <mat-card-header>
                        <mat-card-title>
                            {{ c.name }}
                        </mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                        Participants:
                        <mat-card-subtitle>
                            {{ c.players }}
                        </mat-card-subtitle>
                        You are playing with:
                        <mat-card-subtitle>
                            <p>{{ c.characterName }}</p>
                        </mat-card-subtitle>
                    </mat-card-content>
                </mat-card>
            </mat-card>
        </div>
    </div>
</div>
