<div class="flexContainer">
    <mat-card>
        <div class="flexColoumn">
            <h3>Your last played campaign</h3>
        </div>
    </mat-card>
    <mat-card>
        <div class="flexColoumn">
            <h3>Join new campaign</h3>
            <p>
                Join a campaign by entering an ID and password below and choose
                a character.
            </p>
            <button mat-raised-button (click)="openDialog()">
                Join campaign!
            </button>
        </div>
    </mat-card>
    <mat-card>
        <div class="flexColoumn">
            <h3>Joinable campaigns</h3>
            <mat-card *ngFor="let c of joinableCampaigns">
                <mat-card-header>
                    <mat-card-title> {{ campaign.name }}</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <p>Participants:</p>
                    <mat-card-subtitle>
                        <p>players:</p>
                    </mat-card-subtitle>
                    <p>You are playing with:</p>
                    <mat-card-subtitle>
                        <p>characterName</p>
                    </mat-card-subtitle>
                </mat-card-content>
            </mat-card>
        </div>
    </mat-card>
</div>
