.flexContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.flexColoumn {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.radioContainer {
    display: flex;
    flex-direction: column;
}
