.outer,
.flexContainer {
  display: flex;
}

.outer {
  flex-direction: column;
  height: 100%;
}

.flexContainer {
  justify-content: space-between;
  align-items: center;
}

.flexColoumn {
  display: flex;
  flex-direction: column;
  flex: 1;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  text-align: center;
}

.top {
  flex: 1;
}

.log {
  flex: 0;
  position: relative;
}

.diceContainer {
  display: flex;
  flex-direction: column;
}

.editContainer {
  display: flex;
  flex-direction: column;
}
