.outer,
.flexContainer {
  display: flex;
}

.outer {
  flex-direction: column;
  height: 100%;
}

.flexContainer {
  justify-content: space-between;
  align-items: center;
}

.flexColoumn {
  display: flex;
  flex-direction: column;
  flex: 1;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  text-align: center;
}

h1 {
  font-family: critical-role-play;
}

.top {
  flex: 1;
}

.log {
  flex: 0;
  position: relative;
}

.diceContainer,
.editContainer {
  display: flex;
  flex-direction: column;
}

.turnContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-top: 30px;
  margin-bottom: 20px;
}

.wrapper {
  margin-top: 20px;
  margin-bottom: 20px;
}

.buttonWrapper {
  margin-top: 10px;
}
