<div>
    <h1>Campaign Name</h1>
    <h3>Campaign ID: {{ campaignID }} & Password...</h3>

    <div class="flexContainer">
        <mat-card>
            <div class="flexColumn">
                <mat-card-title>
                    Other players
                </mat-card-title>
                <mat-expansion-panel>
                    <!-- *ngFor="let player of charactersInCampaign" -->
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Name:
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <mat-card-subtitle>
                        Health:
                    </mat-card-subtitle>
                    <mat-card-subtitle>
                        Turn Index:
                    </mat-card-subtitle>
                    <mat-card-subtitle>
                        Race:
                    </mat-card-subtitle>
                    <mat-card-subtitle>
                        Class:
                    </mat-card-subtitle>
                    <mat-card-subtitle>
                        Level:
                    </mat-card-subtitle>
                    <mat-card-subtitle>
                        XP:
                    </mat-card-subtitle>
                </mat-expansion-panel>
            </div>
        </mat-card>

        <mat-card>
            <div class="flexColumn">
                <mat-card-title>
                    Your character
                </mat-card-title>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            {{ yourOwnCharacter.name }}
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <mat-card-subtitle>
                        Health: {{ yourOwnCharacter.health }}
                    </mat-card-subtitle>
                    <mat-card-subtitle>
                        Turn Index: {{ yourOwnCharacter.turnIndex }}
                    </mat-card-subtitle>
                    <mat-card-subtitle>
                        Race: {{ yourOwnCharacter.cRace }}
                    </mat-card-subtitle>
                    <mat-card-subtitle>
                        Class: {{ yourOwnCharacter.cClass }}
                    </mat-card-subtitle>
                    <mat-card-subtitle>
                        Level: {{ yourOwnCharacter.level }}
                    </mat-card-subtitle>
                    <mat-card-subtitle>
                        XP: {{ yourOwnCharacter.xp }}
                    </mat-card-subtitle>
                </mat-expansion-panel>
            </div>
        </mat-card>

        <mat-card>
            <div class="flexColumn">
                <h3>Dice roll</h3>
                <button mat-fab color="primary" (click)="onRoll()">Roll</button>
            </div>
        </mat-card>
    </div>
</div>
