<header>
    <mat-toolbar class="navBar">
        <a class="navbar-brand headline" class="title" [routerLink]="['/']">
            Dungeons & Draggins
        </a>
        <nav mat-tab-nav-bar>
            <a
                mat-tab-link
                *ngFor="let link of navLinks"
                [routerLink]="link.path"
                routerLinkActive
                #rla="routerLinkActive"
                [routerLinkActiveOptions]="{ exact: true }"
                [active]="rla.isActive"
            >
                {{ link.label }}
            </a>
        </nav>
        <div class="spacer"></div>
        <button (click)="reload()" mat-flat-button [disabled]="!signedIn">
            Sign out
        </button>
    </mat-toolbar>
</header>
