<div id="top-div">
    <h2>Create a new character</h2>
    <mat-card>
        <form
            [formGroup]="createCharacterFormGroup"
            (ngSubmit)="onSubmit(createCharacterFormGroup)"
        >
            <mat-vertical-stepper linear="false" #stepper>
                <ng-template matStepperIcon="edit">
                    <mat-icon>done</mat-icon>
                </ng-template>
                <mat-step formGroupName="name" [stepControl]="name">
                    <ng-template matStepLabel
                        >Fill out your character's name</ng-template
                    >
                    <mat-form-field>
                        <input
                            matInput
                            placeholder="Name"
                            formControlName="nameCtrl"
                            required
                        />
                    </mat-form-field>
                    <div>
                        <button
                            mat-flat-button
                            matStepperNext
                            type="button"
                            color="primary"
                        >
                            Next
                        </button>
                    </div>
                </mat-step>

                <mat-step formGroupName="race" [stepControl]="race">
                    <ng-template matStepLabel
                        >Choose your character's race</ng-template
                    >
                    <mat-form-field>
                        <mat-select
                            matInput
                            placeholder="Race"
                            (change)="onSelectClass($event.target.value)"
                            formControlName="raceCtrl"
                            required
                        >
                            <mat-option
                                *ngFor="let race of races"
                                [value]="race"
                                >{{ race }}</mat-option
                            >
                        </mat-select>
                    </mat-form-field>
                    <div>
                        <button mat-button matStepperPrevious type="button">
                            Back
                        </button>
                        <button
                            mat-flat-button
                            matStepperNext
                            type="button"
                            color="primary"
                        >
                            Next
                        </button>
                    </div>
                </mat-step>

                <mat-step formGroupName="class" [stepControl]="class">
                    <ng-template matStepLabel
                        >Choose your character's class</ng-template
                    >
                    <mat-form-field>
                        <mat-select
                            matInput
                            placeholder="Class"
                            (change)="onSelectClass($event.target.value)"
                            formControlName="classCtrl"
                            required
                        >
                            <mat-option
                                *ngFor="let class of classes"
                                [value]="class"
                                >{{ class }}</mat-option
                            >
                        </mat-select>
                    </mat-form-field>
                    <div>
                        <button mat-button matStepperPrevious type="button">
                            Back
                        </button>
                        <button
                            mat-flat-button
                            matStepperNext
                            type="button"
                            color="primary"
                        >
                            Next
                        </button>
                    </div>
                </mat-step>

                <mat-step>
                    <ng-template matStepLabel>Save Character</ng-template>
                    Your character will have the following custom attributes:<br /><br />
                    Name:
                    {{ createCharacterFormGroup.get('name.nameCtrl').value
                    }}<br />
                    Race:
                    {{ createCharacterFormGroup.get('race.raceCtrl').value
                    }}<br />
                    Class:
                    {{ createCharacterFormGroup.get('class.classCtrl').value }}
                    <div id="step-four-div">
                        <button mat-button matStepperPrevious type="button">
                            Back
                        </button>
                        <button
                            mat-flat-button
                            type="submit"
                            color="primary"
                            [disabled]="createCharacterFormGroup.invalid"
                        >
                            Save
                        </button>
                    </div>
                </mat-step>
            </mat-vertical-stepper>
        </form>
    </mat-card>
    <div class="wrapper">
        <button mat-flat-button color="primary" (click)="cancel()">
            Cancel
        </button>
    </div>
</div>
