form {
  margin-left: 20em;
}

input[type='radio'] {
  margin: 8px;
  margin-left: 10px;
}

input[type='text'] {
  margin: 8px;
}

input[type='number'] {
  margin: 8px;
}

button {
  margin-left: 150px;
}

h2 {
  text-align: center;
  margin-top: 20px;
}

#top-div {
  margin-top: 50px;
}

mat-vertical-stepper {
  margin-top: 30px;
  background-color: #FDFCFA;
}
