<div class="row">
    <form (ngSubmit)="onSubmit()">
        <h2>Create your new Campaign</h2>
        <br />
        <br />
        <label for="name">Campaign Name:</label>
        <input type="text" id="name" [formControl]="campaignName" />
        <br />
        <label>Joinable:</label>

        <input type="radio" id="true" [formControl]="joinable" value="true" />
        <label for="true">True</label>

        <input type="radio" id="false" [formControl]="joinable" value="false" />
        <label for="false">False</label>
        <br />
        <label for="maxPlayer">Max players:</label>
        <input type="number" id="maxPlayer" [formControl]="maxPlayers" />
        <br />
        <label for="Password">Password:</label>
        <input type="text" id="Password" [formControl]="password" />
        <br />
        <button type="submit" mat-raised-button color="primary">Save</button>
    </form>
</div>
